@model NestedLists.ViewModels.ContainerViewModel
    
@for(var i=0; i<Model.Groups.Count; i++)
{
    <div>
    @Html.CheckBoxFor(m => m.Groups[i].Selected)
    @Html.LabelForModel(Model.Groups[i].GroupName)
    @Html.HiddenFor(m => m.Groups[i].Id)
    </div>
}